@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Spectral&display=swap');

$fonts: (
    heading-font: ('Spectral', serif),
    paragraph-font: ('Roboto', monospace)
);