$primary:       #198754;
$secondary:     rgb(207, 207, 207);

$border-color:  rgb(201, 201, 201);

$font-size-base:    .95rem;
$font-weight-bold:  600;

$btn-hover-bg-shade-amount:       35%;
$btn-hover-bg-tint-amount:        15%;
$btn-hover-border-shade-amount:   10%;
$btn-hover-border-tint-amount:    10%;
$btn-active-bg-shade-amount:      35%;
$btn-active-bg-tint-amount:       20%;
$btn-active-border-shade-amount:  10%;
$btn-active-border-tint-amount:   10%;



