@import "colors";
@import "typography";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: map-get($colors, primary);
}

nav a, footer a, .fa-heart, .fa-comment, .fa-share-square, .link-color {
    text-decoration: none;
    color: map-get($colors, secondary);
}

.fa-heart:hover, .fa-comment:hover, .fa-share-square:hover {
    transform: scale(1.15);
    transition: .2s ease-in-out;
}

header, footer, nav a, footer a, .post {
    background-color: map-get($colors, tertiary);
}

.post, .user-image, button {
    box-shadow: 1px 2px rgb(182, 182, 182);
}

button:hover {
    box-shadow: none;
    transition: .3s ease-in-out;
}

.active-nav, a:hover {
    text-decoration: underline;
    color: map-get($colors, secondary);
}

p, a {
    font-family: map-get($fonts, paragraph-font);
}

h1, h2, h3 {
    font-family: map-get($fonts, heading-font);
}


